<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLibs Monster</h1>
    <p>One day, @Model.PersonOne and @Model.PersonTwo were walking through the woods, when suddenly a giant @Model.Noun appeared. @Model.PersonTwo @Model.Verb. The two of them were @Model.Adjective as quickly as possible, and when they were safe, @Model.PersonOne and @Model.PersonTwo hugged and HAPPILY EVER AFTER! 
    </p>
  </body>
</html> 